img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, Serif;
	font-size: 18px;
}

div {
	height: 50px;
	width: 120px;
	border:1px solid #6495ed;
	background-color: #bcd2ee;
	border-radius: 5px;
	text-align: center;
	margin: auto;
}

a {
	text-decoration: none;
}